body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
p {
  color: #8f8f8f;
  font-weight: normal;
}
/* Multiple Selector: */
h1, h2, h3, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/* Headings */
.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  line-height: 1.5;
  font-size: 3.5rem;
  /* padding:20% 15% 15% 0; */
}
.section-heading{
font-size: 3rem;
line-height: 1.5;
}
/* Containers */
.container-fluid {
  padding: 7% 15%;
}
/* Sections */
.colored-section{
  background-color: #ff4c68;
  color: white;
}
.white-section{
    background-color: #fff;
}
/* First Section */
.navbar {
  padding-bottom: 4.5rem;
}
.nav-bar-name {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 100;
}
/* Hierarchical Selector: */
#title .container-fluid {
   /* Container-fluid inside #title only */
  padding: 3% 15% 7%;
    text-align: left;
}
.phone {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}
.phone-div {
  position: relative;
}
.dwn {
  margin: 5% 3% 5% 0;
}
/* Features Section */
.features-icons {
  color: #ef8172;
  font-size: 4rem;
  margin-bottom: 1rem;
}
.features-icons:hover {
  color: #ff4c68;
}
#features {
  position: relative;
}
.features-h3 {
    font-size: 1.5rem;
}
.benefit-t {
  padding: 3%;
}
/* Testimonials Section */
#testimonials {
  background-color: #ef8172;
  }
.test-h2 {
  font-size: 3rem;
  line-height: 1.5;
}
.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* Press Section */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
/* Pricing Section */
#pricing {
  padding: 100px;
}
.price-text{
  font-size: 3rem;
  line-height: 1.5;
}
.pricing-column {
  padding: 3% 2%;
}
/* CTA Section */
.dwn-btm {
  margin: 5% 3% 8% 0;
}
/* Footer Section */
#footer {
  line-height: 3;
  color: #ffff;
}
.footer-icon {
  color: black;
  margin: 20px 10px;
}
/* Media Query Section */
@media (max-width: 1036px) {
  .phone {
    position: static;
    transform: rotate(0);
  }
  #title {
    text-align: center;
  }
}
